<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--视口  设备宽度  初始缩放比例  最小缩放比例  最大缩放比例  用户缩放-->
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!--优先使用IE最新版本和chrome-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--禁止浏览器自动的识别  电话号码-meail-->
    <meta name="format-detection" content="telephone=no,email=no"/>
    <!--是否启用Web全屏-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--设置苹果工具栏颜色-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>Title</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/sousuo.css">
</head>
<body>
<div class="fch_sousuo">
    <div class="header">
        <div><a href="luyou.html" class="iconfont icon-jiantou is-left-font"></a></div>
        <div>
            <input type="text" placeholder="请输入搜索关键词！">
        </div>
        <div><button>搜索</button></div>
    </div>

    <div class="remen">
        热门搜索
    </div>

    <div class="xuanxiang">
        <div>凯诚</div>
        <div>添康</div>
        <div>巴里坤</div>
        <div>诺来</div>
        <div>五向宝</div>
    </div>

    <div class="zuijin">
        <div>最近搜索</div>
        <div class="iconfont icon-xiao10 is-xiao10 jian-top fr"></div>
    </div>

    <div class="footer">
        <a href="luyou.html">点击关闭</a>
    </div>
</div>
</body>
</html>